@media only screen and (max-width: 687px){
    .container-left{
        display:none;
    }
}
/* div{
    border: 1px solid black;
    margin: -1px;
} */

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
h1{
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    color: #97714b;
}
.container{
    display: flex;

} 


.container-left{
    background-image: url("images/nathan-dumlao-Im9kmRc1rms-unsplash.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    min-width:400px;
    height: 650px
}

.container-right{
    margin: 20px; 
    width: 70%;
    /* max-width: 750px; */
    
}

.overlay{
    position: relative;
    top:70px;
    width: 100%;
    height: 100px;
    text-align:center;
    background-color: #97714b;
    opacity: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logotext{
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 70px;
    color: white;
}

.right-middle{
    border-radius: 5px;
    padding: 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.right-bottom{
    margin: 15px 0px ;
}



input{
    border-radius: 5px;
    width:80%;

}

input,label, .error{
    font-family: inherit;
    font-size: 1rem;
    margin: 5px 12px;
}

input:focus{
    background-color: #ddcab8;
    outline:none;
}

input:focus:valid{
    border-color: green
}

input:focus:invalid{
    border-color: red;
}

button{
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #97714b;
    color: white;
    border-radius: 15px;
    margin-top: 15px;
}

button:active{
    background-color: burlywood;
}

form{
    display: flex;
    flex-flow: row wrap;
}

.form-input{
    display: flex;
    flex-flow: column wrap;
    min-width: 40%;

}

.error{
font-size: .7rem;
color: red;
display: none;
}

.button-space{
    display: flex;
}

footer {    
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    font-family:inherit;
    font-size: 16px;
}
.footer--img{
    max-height: 2em ;
    border-radius: 50px;
    margin-right: .5rem;
}