/* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */



/* .parent {
  position: relative;
  top: 0;
  left: 0;
}
.image1 {
  position: relative;
  top: 0;   
  left: 0;
  border: 1px red solid;
}
.image2 {
  position: absolute;
  top: 30px;
  left: 30px;
  border: 1px green solid;
}*/



/* #container {
  position: relative;
  width: 200px;
  height: 200px;
}

#main_image {
  width: 100%;
  height: 100%;
  background: blue;
}

#overlay_image {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background: red;
}
 */


div{
    border: 1px solid black;
    margin: -1px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
h1{
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    color: #97714b;
}
.container{
    display: flex;
}


.container-left{
    background-image: url("images/nathan-dumlao-Im9kmRc1rms-unsplash.jpg");
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    width:40vw;
    position: relative;
    top:0;
    left:0;
}



.container-right{
    margin: 20px; 
    width: 60vw;
}


.background-img {
    position: relative;
    width:auto;
    width:40vh;
    top:0;
    left:0;

}


.overlay{
    position: absolute;
    top:70px;
    width: 100%;
    height: 100px;
    text-align: center;
    background-color: #97714b;
    opacity: 50%;

}


.logotext{
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 64px;
    color: white;
    position: absolute;
    top:35px;
    left: 30%;

}

.right-middle{
    padding: 15px 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: 250px;
    
}

.right-bottom{
    margin: 15px 0px ;
}

input{
    border-radius: 5px;
}

input,label, .error{
    font-family: inherit;
    font-size: 1rem;
    margin: 5px 25px;
}

input:focus{
    background-color: #ddcab8;
    outline:none;
}

input:focus:valid{
    border-color: chartreuse
}

input:focus:invalid{
    border-color: red;
}

button{
    font-family: inherit;
    font-size: 1.5rem;
    background-color: #97714b;
    color: white;
    border-radius: 15px;
    margin-top: 15px;

}

button:active{
    background-color: burlywood;
}

form{
    display: flex;
    flex-flow: row wrap;
}

.form-input{
    display: flex;
    flex-flow: column wrap;
}


.error{
font-size: .7rem;
color: red;
display: none;
}










footer {
    
    display: flex;
    align-items: center;
    margin: 1rem;
    justify-content: center;
    font-family:inherit;
    font-size: 16px;
}
.footer--img{
    max-height: 2em ;
    border-radius: 50px;
    margin-right: .5em;
}